{% extends 'nav.html' %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="display-4 fw-bold">Your Maze</h2>
        <img src="{{ image }}" class="img-fluid my-3 rounded shadow-lg" alt="Maze Image" usemap="#mazemap">
	<map name="mazemap">
            {% for coord, desc in maze %}
            <area style="cursor: pointer" shape="rect" coords={{ coord }} title={{desc}} onclick="console.log('{{desc}}')">
            {% endfor %}
        </map>
        <div>
       	    <a href="" id="a" hidden></a>
            <button class="btn btn-primary btn-lg mt-3" onclick="download()">Save Maze Locally</button>
        </div>
    </div>
</div>

<script>
    const download = () => {
        let a = document.querySelector("#a");
        let file = new Blob(['{"seed": "{{seed}}", "x": "{{x}}", "y": "{{y}}"}'], {type: 'text/plain'});
        a.href = URL.createObjectURL(file);
        a.download = 'maze.json';
        a.click();
    }
</script>
{% endblock %}
