{% extends 'nav.html' %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="display-4 fw-bold">Welcome to Forgeon!</h2>
        <p id="error-text" class="alert alert-danger text-center fw-bold" hidden>Not a valid maze!</p>
        <img src="{{ image }}" class="img-fluid my-3 rounded shadow-lg" alt="Generated Maze" usemap="#mazemap">
        <map name="mazemap">
            {% for coord, desc in maze %}
            <area style="cursor: pointer" shape="rect" coords={{ coord }} title={{desc}} onclick="console.log('{{desc}}')">
            {% endfor %}
        </map>
        <div>
            <a class="btn btn-primary btn-lg me-2" href="/maze">Generate Maze</a>
            <button class="btn btn-secondary btn-lg" onclick="document.querySelector('#file-upload').click()">Load Maze</button>
            <input id="file-upload" type="file" hidden>
        </div>
    </div>
</div>

<script>
    document.querySelector('#file-upload').addEventListener('change', (event) => {
        let maze = event.target.files[0];
        if (maze) {
            const reader = new FileReader();
            reader.onload = e => { 
                try {
                    let json_contents = JSON.parse(e.target.result);
                    window.location.replace(`/maze/${json_contents.x}/${json_contents.y}/${json_contents.seed}`);
                } catch (error) {
                    document.querySelector("#error-text").hidden = false;
                }
            };
            reader.readAsText(maze);
        }
    });
</script>
{% endblock %}
